# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
plan-viewer/node_modules/
tile-server/node_modules/

# Expo
plan-viewer/.expo/
plan-viewer/dist/
plan-viewer/web-build/
plan-viewer/expo-env.d.ts

# Native
plan-viewer/.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
plan-viewer/.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
plan-viewer/ios
plan-viewer/android
